<div class="container">
  <div class="row">
    <h1>Welcome To Dashboard !</h1>

    <h2>Hi, This is Angular Frontend </h2>
    
    
    <div>
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Angular</mat-card-title>
              <mat-card-subtitle>Typescript Framework</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/img/images.png" alt="Photo of Angular" style="height:100px;width: 200px">
            <mat-card-content>
              <p>
                Angular a Framework used to create frontend Applications. We can proceed by Installation of Angular from its 
                official Site. Then Using "ng new 'Project'" name we can create an Angular Project.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          
    </div>    
  </div>
</div>
